@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}

/*초기화*/
body,h1,h2,h3,h4,h5,h6,ul,p,img,input{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;  color: #000;}
.hidden{position: absolute; left: -9999px;}

/*side_menu*/
.sidebar{  
  position: fixed;  top: 0;  left: 0;  width: 244px;   height: 100%;   background-color: #fff; 
  border-right: 1px solid #e3e3e3;}
.sidebar .companyName{  
  display: block;
  margin: 15px auto;
  text-align: center;
  background-color: #617787;
  border-radius: 3px;   width: 200px;  height: 200px;}
.sidebar .companyName img{  
  margin-top: 14px;
  height: 90px;
  width: 90px;  
}
.sidebar .companyName span{text-align: center; color: #fff; font-weight: bold;font-size: 1.8em;  letter-spacing: 5px;}

.side_menu{margin-top: 42px;}
.side_menu .depth1 {margin-bottom: 50px; margin-left: 13px;}
.side_menu .depth1 span{cursor:default; padding: 3px; 
  background: linear-gradient(45deg, #617787, #d0dce5);  width: 95%;
  display: inline-block;  color: #fff;  border-radius: 1px;  font-size: 18px;  
}
.side_menu .depth1 ul li{border-bottom: 1px solid #eee; width: 95%;}
.side_menu .depth1 ul li a{display: inline-block; margin: 10px 0px 10px 30px; letter-spacing: -1px; width: 86%;}
.side_menu a:hover{font-weight: bold;}


/*body*/
#body{width: calc(100% - 250px); float: right; /*border: 2px solid red;*/ }
#body p{}
#body .main_image{margin: 0 auto; text-align: center; /*border: 2px solid purple; */
  width: 100%;background-color: #d0dce5;}
#body .main_image img{width: 1100px; height: 650px;}
#body .main_info{text-align: center; font-size: 1.2em; margin: -30px auto 0px;
width: 55%; border-radius: 5px; background-color: #f8f8f8; position: relative;
padding: 12px 0px; cursor: default; letter-spacing: -1.2px;
box-shadow: 0 15px 30px 0 rgba(0,0,0,0.1)}

#body .link_zone{margin-top: 5.5%; width: 100%; display: flex; justify-content: center; align-items: flex-end;}
#body .link_zone ul{}
#body .link_zone ul li{float: left; margin-right: 125px;}
#body .link_zone ul li a{display: inline-block;text-align: center;}
#body .link_zone ul li a:before {  content: '';  display: block;  margin: 0 auto 6px;  width: 60px;  height: 60px;  }
#body .link_zone ul li:nth-child(1) a:before {
  background: url(/src/main/webapp/resources/images/icon/free-icon-bank-916769.png) no-repeat 0 0; 
  background-size: 60px;
}
#body .link_zone ul li:nth-child(2) a:before {
  background: url(/src/main/webapp/resources/images/icon/free-icon-piggy-bank-584093.png) no-repeat 0 0;
  background-size: 60px;
}
#body .link_zone ul li:nth-child(3) a:before {
  background: url(/src/main/webapp/resources/images/icon/free-icon-passbook-2447436.png) no-repeat 0 0;
  background-size: 60px;
}

#body .link_zone ul li:nth-child(1):before {
  content: '';
  display: inline-block;
  position: relative;
  left: 123px;
  top: -12px;
  width: 1px;
  height: 71px;
  background: #e3e3e3;
}

#body .link_zone ul li:nth-child(2):before {
  content: '';
  display: inline-block;
  position: relative;
  left: 123px;
  top: -12px;
  width: 1px;
  height: 71px;
  background: #e3e3e3;
}