<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>라임ERP</title>
</head>
<body>
    <div class="sidebar">
        <a class="companyName" href="/src/main/webapp/WEB-INF/views/index.html">
            <img src="/src/main/webapp/resources/images/icon/free-icon-save-money-white.png">
            <span>RHYME ERP</span>
        </a>
    <ul class="side_menu">
        <li class="depth1"><span>조회</span>
            <ul>
                <!-- <li><a href="/src/main/webapp/WEB-INF/views/inquiry/account_inquiry.html">예금계좌 잔액조회</a></li> -->
                <li><a href="/src/main/webapp/WEB-INF/views/inquiry/account_transaction_history.html">예금계좌 거래내역조회</a></li>
                <li><a href="/src/main/webapp/WEB-INF/views/inquiry/account_history.html">이체결과 내역조회</a></li>
                <!-- <li><a href="">ERP 등록내역조회</a></li> -->
            </ul>
        </li>
        <li class="depth1"><span>이체</span>
            <ul>
                <li><a href="/src/main/webapp/WEB-INF/views/withdrawal/statement withdrawal.html">자금이체(매입매출전표)</a></li>                
                <li><a href="">급여이체</a></li>
            </ul>
        </li> 
        <li class="depth1"><span>매출관리</span>
            <ul>
                <li><a href="">신용카드 매입/매출 내역</a></li>
                <li><a href="">현금영수증 매입/매출 내역</a></li>
                <li><a href="">세금계산서 매입/매출 내역</a></li>
            </ul>
        </li> 
    </ul>
    </div>
</body>
</html>