<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>라임ERP</title>
</head>
<body>
    <div class="sidebar">
        <div class="companyName"><a href="/src/main/webapp/WEB-INF/views/index.html">RHYME ERP</a></div>
    <ul class="side_menu">
        <li class="depth1"><span>조회</span>
            <ul>
                <li><a href="">예금계좌 잔액조회</a></li>
                <li><a href="">예금계좌 거래내역조회</a></li>
                <li><a href="">ERP 등록내역조회</a></li>
            </ul>
        </li>
        <li class="depth1"><span>이체</span>
            <ul>
                <li><a href="">10건이하이체</a></li>
                <li><a href="">대량이체</a></li>
                <li><a href="">급여이체</a></li>
            </ul>
        </li> 
        <li class="depth1"><span>매출관리</span>
            <ul>
                <li><a href="">신용카드 매입/매출 내역</a></li>
                <li><a href="">현금영수증 매입/매출 내역</a></li>
                <li><a href="">세금계산서 매입/매출 내역</a></li>
            </ul>
        </li> 
    </ul>
    </div>
</body>
</html>